{% extends "layout.html" %}
{% block body %}
    <h2>Configuration</h2>
    {% if session.logged_in %}
        <form action="{{ url_for('save_config') }}" method=POST class=save>
            <h3>Server</h3>
            <dt>Data Base:</dt>
            <dd><input type=text size=40 name=server_database value={{ config.DATABASE.FILE }}></dd>
            <dt>Schema:</dt>
            <dd><input type=text size=40 name=server_schema value={{ config.DATABASE.SCHEMA }}></dd>
            <dt>Debug:</dt>
            <dd>
                <input type="radio" name="server_debug" value="true"
                    {% if config.SERVER.DEBUG == "true" %}
                    {{ "checked" }}
                    {% endif %}
                />Yes<br />
                <input type="radio" name="server_debug" value="false"
                    {% if config.SERVER.DEBUG == "false" %}
                    {{ "checked" }}
                    {% endif %}
                />No<br />
            </dd>
            <dt>Secret Key:</dt>
            <dd><input type=text size=40 name=server_secret_key value={{ config.SERVER.SECRET_KEY }}></dd>

            <h3>Application</h3>
            <dt>Username:</dt>
            <dd><input type=text size=40 name=app_username value={{ config.SERVER.USERNAME }}></dd>
            <dt>Password:</dt>
            <dd><input type=password size=40 name=app_password value={{ config.SERVER.PASSWORD }}></dd>
            <dt>Enable security:</dt>
            <dd>
                <input type="radio" name="app_security" value="true"
                    {% if config.SERVER.SECURITY == "true" %}
                    {{ "checked" }}
                    {% endif %}
                />Yes<br>
                <input type="radio" name="app_security" value="false"
                    {% if config.SERVER.SECURITY == "false" %}
                    {{ "checked" }}
                    {% endif %}
                />No<br>
            </dd>

            <h3>Synchronization</h3>
            <dt>Server:</dt>
            <dd><input type=text size=40 name=api_url value={{ config.API.URL }}></dd>
            <dt>Token:</dt>
            <dd><input type=text size=40 name=api_token value={{ config.API.TOKEN }}></dd>
            <dt>Delay Time (seconds):</dt>
            <dd><input type=number size=40 name=api_delay value={{ config.API.DELAY }}></dd>

            <br />
            <input type=submit value=Save>
        </form>
    {% else %}
        <em>You must be logged in.</em>
    {% endif %}
{% endblock %}