{% extends "layout.html" %}
{% block body %}
<h2>Ticket printers</h2>
  {% if session.logged_in %}
  <h3>Add a new printer</h3>
    <form action="{{ url_for('add_ticket_printer') }}" method=POST class=add>
      <dl>
        <dt>Name:
        <dd><input type=text size=40 name=name>
        <dt>Route:
        <dd><input type=text size=40 name=route>
        <dt>Chars:
        <dd><input type=number size=2 name=chars>
        <dd><input type=submit value=Add>
      </dl>
    </form>
  {% endif %}
  {% for printer in printers %}
      <form action="{{ url_for('save_ticket_printer') }}" method=POST class=printer>
        <dt><h3>{{ printer.name }}</h3>
        <dt>Route:
        <dd>
          {% if session.logged_in %}
            <input type=text name=route value={{ printer.route }}>
          {% else %}
            {{ printer.route }}
          {% endif %}
        <dt>Chars:
        <dd>
          {% if session.logged_in %}
            <input type=number name=chars value={{ printer.chars }}>
          {% else %}
            {{ printer.chars }}
          {% endif %}
        <dt><input type=hidden name=id value={{ printer.id }}>
        {% if session.logged_in %}
        <dt><input type=submit value=Save>
        {% endif %}
      </form>
      {% if session.logged_in %}
      <form action="{{ url_for('delete_ticket_printer') }}" method=POST class=printer>
        <dt><input type=hidden name=id value={{ printer.id }}>
        <dt><input type=submit value=Delete>
      </form>
      {% endif %}
      <br>
  {% else %}
    <em>Unbelievable.  No printers here so far</em>
  {% endfor %}
{% endblock %}